ul#sub-menu li {
  positon: relative;
  list-style-type: none;
  /*float: left;*/
  margin-right: 10px;
  display: none;
  padding:0;
  margin: 0;
}
ul#sub-menu li {
  positon: relative;
}
ul#sub-menu li {
  display: none;
  position: absolute;
  width: 100px;
}